* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

.col-2 {
    width: 20%;
}

.col-6 {
    width: 60%;
}

hr {
    border: 0;
    border-bottom: 1px solid rgba(2, 45, 98, 0.1);
    width: 100%;
}

.header-top {
    height: 60px;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #fff;
}

.header-contact {
    float: left;
}

.header-top__item {
    display: inline-block;
    line-height: 60px;
    margin-right: 16px;
}

.header-item,
.top-item--link {
    color: #022d62;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}

.top-item--link:hover {
    color: #ef3139;
    transition: all 0.3s ease-in-out;
}

.ml {
    margin-right: 3px;
}

.top-item__icon {
    color: #ef3139;
    padding: 4px;
}

.header-top__nav {
    float: right;
}

.navbar {
    height: 80px;
    max-width: 1100px;
    margin: 0 auto;
}

.navbar::after {
    content: "";
    display: block;
    clear: both;
}

.navbar-logo {
    float: left;
    padding: 18px 16px;
}

.navbar-img {
    height: 40px;
}

.navbar-list {
    float: left;
}

.navbar-item {
    display: inline-block;
    list-style-type: none;
}

.navbar-link {
    text-decoration: none;
    font-size: 24px;
    color: #022d62;
    padding: 16px 16px;
    line-height: 80px;
    font-weight: 500;
}

.navbar-link:hover {
    color: #ef3139;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.header-phone {
    position: relative;
    float: right;
    background-color: #fff;
    height: 36px;
    margin: 22px 0;
    border-radius: 5px;
}

.phone__icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-55%);
    font-size: 16px;
    text-decoration: none;
    color: #022d62;
    border-radius: 2px;
}

.header-phone p {
    line-height: 36px;
    margin-left: 30px;
}

.header-item {
    display: inline-block;
}

.phone__icon {
    padding-right: 116px;
}

.phone__icon,
.header-item {
    margin-left: 60px;
    font-weight: 700;
    font-size: 20px;
    color: #ef3139;
}

.phone__icon:hover,
.header-item:hover {
    color: #022d62;
    transition: all 0.3s ease-in-out;
}